<h2>Components Handson</h2>

<div class="container">
   <div class="row">
     <div class="col-xs-12">
       <ol>
         <li>Create two components - WarningAlert and SucessAlert</li>
         <li>Output them beneath each other</li>
         <li>Output the warning and success message inside the component</li>
         <li>Style the component with appropriately</li>
       </ol>

       <hr />
       <app-warning-alert></app-warning-alert>
       <app-success-alert></app-success-alert>
     </div>
   </div>
</div>
